@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "~/Views/Master.cshtml";
}

@* @foreach (Product product in products)
{
    <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv pen">
        <div class="item">
            <a href="@product.Url()"><img src="@product.Images?.FirstOrDefault()?.Url()" alt=""></a>
            <span class="category">@product.ProductName</span>
            <h6>AED @product.Price</h6>
            <h4><a href="property-details.html">18 Old Street Miami, OR 97219</a></h4>
            <ul>
                <li>Bedrooms: <span>8</span></li>
                <li>Bathrooms: <span>8</span></li>
                <li>Area: <span>545m2</span></li>
                <li>Floor: <span>3</span></li>
                <li>Parking: <span>6 spots</span></li>
            </ul>
            <div class="main-button">
                <a href="property-details.html">Schedule a visit</a>
            </div>
        </div>
    </div>
} *@
